<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <style>
                body{
                    background-color:  #e5e8e8
                    
                }
                h3{
                    color: #808000
                    
                }
            </style>
    </head>
    <body >
        <br>

        <h3 align="center">Successfully signed up! </h3>
        <h4 align="center"> Please login to continue!!</h4>
        
        <p align="center"><a class="btn btn-primary btn-lg" href="/login" role="button">Login</a></p>
    
    </body>
</html>